body, h1, p {
    font-family: 'Jost', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #00242b;
    margin: 0;

}

p {
    display: block;
}
.centralContent {
    min-height: 1080px;
}
.centralContent:active {
    background: #000;
}
.content {
    margin: 0;
    padding: 0;
    background: #a33030;
}

.centralContent {
    background: #797373;
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
}

.picture {

    max-width: 400px;
    margin: 0 auto;
    display: none;  
    transition: all 1s ease 0s;  
}

.picture:hover {
    transform: scale(1.2, 1);
}


li {
    list-style: none;

}

.conteiner_1 {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.conteiner_2 {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteiner_3 {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteiner_4 {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteiner_5 {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.imgCopy:hover { 
    display: block;
}
.sloganCopy {
    margin-bottom: 0;
    margin-top: 0;
   
}
.conteiner_1:hover ~ .imgCopy { 
    display: block;
} 





.conteiner_2:hover ~ .imgCalm { 
    display: block;
} 

.sloganCalm {
    margin-bottom: 0;
    margin-top: 0;
 
}

.imgCalm:hover { 
    display: block;
}





.conteiner_3:hover ~ .imgBalance { 
    display: block;
} 
.sloganBalance {
    margin-bottom: 0;
    margin-top: 0;
  
}
.imgBalance:hover { 
    display: block;
}




.conteiner_4:hover ~ .imgDude { 
    display: block;
}
.sloganDude {
    margin-bottom: 0;
    margin-top: 0;
    
}
.imgDude:hover { 
    display: block;
}



.conteiner_5:hover ~ .imgRelax { 
    display: block;
} 
.sloganRelax {
    margin-bottom: 0;
    margin-top: 0;

}
.imgRelax:hover { 
    display: block;
}










.ico {
    width: 30px;
    height: 30px;
}
.close {
    height: 30px;
    width: 30px;
    transition: all 1s ease 0s;
    transform: rotate(45deg);

}
.close:hover {
    transform: rotate(360deg);
}

@media (min-width: 821px) {
    .centralContent {
        cursor: pointer;
    }
 .picture {
    cursor: pointer;
 }
 .close {
    cursor: pointer;
 }
 .sloganBalance {
    cursor: pointer;
 }
 .sloganCalm {
    cursor: pointer;

 }
 .sloganCopy {
    cursor: pointer;
 }
 .sloganDude {
    cursor: pointer;
 }
 .sloganRelax {
    cursor: pointer;
 }
}

@media (max-width: 820px) {
    .centralContent {
        background: #f71111;
    }
}
@media (max-width: 320px) {
    .centralContent {
        background: #d7da17;

    }

    .picture {
        max-width: 300px;
        
    }
    .conteiner_1 {
        width: 90%;
    }
    .conteiner_2 {
        width: 90%;
    }
    .conteiner_3 {
        width: 90%;
    }
    .conteiner_4 {
        width: 90%;
    }
    .conteiner_5 {
        width: 90%;
    }
}

@media (max-width: 545px) {
    .centralContent {
        background: #d7da17;

    }

    .picture {
        max-width: 300px;
        
    }
    .conteiner_1 {
        width: 90%;
    }
    .conteiner_2 {
        width: 90%;
    }
    .conteiner_3 {
        width: 90%;
    }
    .conteiner_4 {
        width: 90%;
    }
    .conteiner_5 {
        width: 90%;
    }
}